# .gitignore

*.swp
.deps

# automake
Makefile.in
Makefile

# autoconf
/autom4te.cache
/aclocal.m4
/compile
/config
/config.*
/configure.in
/depcomp
/install-sh
/missing
/stamp-h1

# m4
autom4te.cache

